.header {
  display: flex;
  align-items: center;
  width: 100%;
  height: 88px;
  font-weight: 700;
  font-size: 14px;
  background-color: var(--page-bg);
  margin-bottom: 100px;
  @media (max-width: 1440px) {
    height: 75px;
  }

  &__logo {
    display: flex;
    align-items: center;
    justify-content: center;
    overflow: hidden;
    border-radius: 0 0 30px;
    width: 240px;
    height: 88px;
    background-color: #fff;
    @media (max-width: 1440px) {
      width: 198px;
      height: 75px;
    }
    &-img {
      width: 123px;
      height: 23px;
    }
  }

  &__menu {
    display: flex;
    flex-grow: 1;
    align-items: center;
  }

  &__region {
    display: flex;
    align-items: center;
    margin-left: 55px;
  }

  &__icon {
    position: relative;
    top: 1px;
    display: flex;
    flex-shrink: 0;
    align-items: center;
    justify-content: center;
    overflow: hidden;
    border-radius: 50%;
    margin-left: 5.5px;
    width: 20px;
    height: 20px;
    background-color: #fff;
    &-img {
      width: 14px;
      height: 8px;
      stroke: #000;
    }
  }

  &__nav {
    margin-left: auto;
  }

  &__list {
    position: relative;
    display: flex;
    align-items: center;
    gap: 42px;

    @include mobile {
      display: none;
    }
  }

  &__list-dropdown {
    display: none;
    position: absolute;
    z-index: 1;
    top: 30px;
    left: -40px;
    border-radius: 12px;
    width: 135px;
    height: 76px;
    padding: 16px 20px;
    background-color: #fff;
    &-link {
      font-weight: 700;
      font-size: 14px;
      color: #2d61e3;
      transition: opacity 0.3s ease-in-out;
      cursor: pointer;
      margin-bottom: 10px;
      &:hover {
        opacity: 0.6;
      }
    }
  }

  &__link {
    color: var(--light);
    transition: color 0.3s ease-in-out;
    &:hover {
      color: var(--text-clor);
    }
  }

  &__link.active {
    color: var(--text-clor);
  }

  &__button-login {
    margin-right: 120px;
    margin-left: 88px;
    display: flex;
    align-items: center;
    overflow: hidden;
    border-radius: 30px;
    padding: 5px 13px 7px 15px;
    font-weight: 700;
    font-size: 14px;
    line-height: 1.2;
    background-color: var(--blue);
    transition: color 0.35s ease, background-color 0.35s ease;

    &:hover {
      color: #2d61e3;
      background-color: #fff;
      & .button-login__img {
        background-color: #2d61e3;
      }
    }
  }
}

.button-login {
  display: flex;
  align-items: center;

  &__img {
    width: 22px;
    height: 22px;
    border-radius: 50%;
    margin-left: 24px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: var(--rose);
  }

  &__icon {
    width: 10px;
    height: 10px;
  }
}
